[mysqld]
character-set-server=utf8mb4
default_password_lifetime=0

slow_query_log=ON
long_query_time=1
slow_query_log_file=/dev/stdout

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
